*{
    margin: 0;
    padding: 0;
}

.width{
    width: 85%;
    margin: auto;
}

.bg-light{
    background-color: white !important;
    box-shadow: 0px 0px 3px grey;
    padding: 15px 100px;
}

.nav-wrapper{

}

.navbar-light .navbar-brand {
    color: #ff8900 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #ff8900 !important;
}

.navbar-icons i{
    color: #ff8900;
    padding: 0px 3px;
    font-size: 18px;
    transition: .1s ease;
}

.navbar-icons i:hover{
    color: #ff89009e;
    font-size: 19px;
}

.navbar-light .navbar-toggler {
    border-color: #ff8900 !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: none !important;
}

.fo-tog{
    width: 32px;
    height: 4px;
    background-color: #ff8900;
    display: block;
    margin: 5px auto;
}

.navbar-nav{
    width: fit-content;
    margin: auto;
}

.navbar-brand{
    font-size: 27px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.nav-brand-img{
    width: 137px;
}

.nav-link{
    font-size: 13px;
    font-weight: 600;
    padding: .5rem 1.9rem 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .7rem;
    padding-left: .7rem;
}

.bg-img{
    background-color: #ff8900;
    width: 100%;
    height: 500px;
    padding-top: 50px;
    margin-top: 55px;
}

.bg-wrapper{

}

.bg-title{
    color: white;
    font-size: 37px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

.bg-app-btn{
    display: flex;
    width: fit-content;
    margin: 26px auto;
}

.bg-inner{
    position: relative;
}

.goog{
    width: 171px;
    margin-right: 10px;
}

.apple{
    width: 171px;
    margin-left: 10px;
}

.heroBan-img-wrapper{
    position: absolute;
    width: fit-content;
    top: 195px;
    left: 0;
    right: 0;
    margin: auto;
}

.burger{
    width: 198px;
    position: relative;
    left: -50px;
    bottom: -37px;
}

.pasta{
    width: 299px;
}

.paper-bag{
    width: 129px;
    position: relative;
    right: -56px;
    bottom: -40px;
}

.p-bt{
    padding: 134px 15px;
}

.wwo-txt-wrap{
    padding: 10px 80px;
    min-height: 150px;
    position: relative;
}

.wwo-txt{
    font-size: 14px;
    text-align: center;
}

.wwo-icon-wrap{
    width: fit-content;
    margin: auto;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 19px;
}

.wwo-icon-wrap img{
    width: 44px;
}

.after-line{
    position: relative;
}

.after-line::after{
    content: "";
    position: absolute;
    height: 69%;
    width: 2px;
    background: #ff8900;
    top: 0;
    right: 0;
}



.bg-yellow{
    background-color: #ff8900;
    width: 100%;
    height: 271px;
}

.order-img-wrapper{
    position: relative;
    width: fit-content;
    margin-left: auto;
}

.caller{
    width: 149px;
    position: absolute;
    top: -65px;
    left: -121px;
}

.rider{
    width: 318px;
}

.order-txt{
    width: 173px;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 60px 0px;
}


.footer-wrapper {
    position: relative;
}

.padding{
    padding: 53px 0px 20px;
}

.foot-bt{
    width: 130px;
    margin-bottom: 3px;
}

.footer-ul li{
    list-style: none;

}

.footer-ul li a{
    color: black;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.legal{
    list-style: none;
    color: #ff8900;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.pp{
    margin-bottom: 0px;
    line-height: 1;
}

.pp a{
    color: black;
    font-size: 11px;
    font-weight: 500;
}

.copy-right{
    color: black;
    font-size: 13px;
    font-weight: 500;
    padding-top: 8px;
}

.footer-icons{
    width: fit-content;
    margin-left: auto;
}

.footer-icons i{
    color: #ff8900;
    padding: 0px 3px;
    font-size: 18px;
}


/* About us */
.abt-bg-img{
    background-color: #ff8900;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 55px;
}

.abt-title{
    color: white;
    font-weight: 600;
    font-size: 38px;
}

.abt-txt{
    color: white;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.3;
}

.abt-txt-secTitle{
    font-size: 21px;
    color: white;
    margin-bottom: 13px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 14px;
}

.abt-box{
    height: 10px;
    width: 10px;
    background-color: white;
    display: inline-block;
}

.abt-span-txt{
    display: block;
    margin-left: 10px;
}

/* Privacy Policy */
.abt-d-txt{
    color: white;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 9px;
    margin-top: 9px;
}

.d-abt-txt{
    margin-left: 6px;
}

.abt-li-txt{
    margin-left: 20px;
    margin-bottom: 11px;
}

/* Terms and Condition */
.tc-title{
    color: white;
    font-weight: 600;
    font-size: 33px;
}

.tc-wrap{
    margin-bottom: 15px;
}

/* Contact Us */
.c-width{
    width: 68%;
}

.pad-radl{
    padding: 40px 35px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: white;
}

.pad-radr{
    padding: 40px 35px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    background-color: #0B203F;
}

.c-form-wrap .form-control{
    width: 100%;
    border-radius: 1.3rem;
}

.c-frm-title{
    font-size: 17px;
    line-height: 1.2;
}

.c-info-title{
    font-size: 16px;
}

.c-info-li{
    list-style: none;
    font-size: 13px;
    margin-bottom: 3px;
    margin-left: 15px;
}

.c-form-wrap .btn-primary {
    color: #fff;
    background-color: #ff8900;
    border-color: #ff8900;
    border-radius: 17px;
    font-size: 15px;
    width: 76px;
    transition: 1s;
}

.c-form-wrap .btn-primary:hover{
    background-color: #ff8900b5;
    border-color: #ff8900b5;
}

.form-group label{
    font-size: 13px;
    font-weight: 600;
    margin-left: 14px;
}

.c-inp-frm{
    height: 51px;
}

.c-wrapper{
    padding-top: 80px;
    padding-bottom: 75px;
}

.max-w{
    max-width: 1300px;
}

@media (max-width:1200px){
    .wwo-txt-wrap {
        padding: 10px 38px;
    }

    .bg-img {
        height: 500px;
    }

    .c-width {
        width: 80%;
    }
}

@media (max-width:999px){
    .navbar-nav {
        width: unset;
    }

    .wwo-txt-wrap {
        padding: 10px 12px;
    }

    .navbar-icons{
        margin-top: 24px;
    }


}

@media (max-width:777px){
    .bg-light {
        padding: 15px 50px;
    }

    .bg-img {
        height: 475px;
    }

    .heroBan-img-wrapper {
        top: 194px;
    }

    .paper-bag {
        width: 103px;
        right: -56px;
        bottom: -27px;
    }

    .pasta {
        width: 253px;
    }

    .burger {
        width: 141px;
        left: -50px;
        bottom: -40px;
    }

    .bg-title {
        font-size: 32px;
        margin-top: 30px;
    }


    .order-txt {
        font-size: 22px;
    }

    .rider {
        width: 239px;
        padding-top: 17px;
    }

    .caller {
        width: 121px;;
        top: -51px;
        left: -89px;
    }

    .footer-icons {
        width: fit-content;
        margin-left: unset;
    }


    /* Contact Us */
    .c-width {
        width: 87%;
    }

    .pad-radl, .pad-radr {
        padding: 30px 20px;
    }
}

@media (max-width:615px){
    .width {
        width: 100%;
        margin: auto;
    }

    .bg-img {
        height: 400px;
    }

    .goog {
        width: 150px;
    }

    .apple {
        width: 150px;
    }

    .heroBan-img-wrapper {
        top: 167px;
    }

    .bg-title {
        font-size: 26px;
        margin-top: 30px;
    }

    .paper-bag {
        width: 81px;
        right: -33px;
        bottom: -15px;
    }

    .pasta {
        width: 185px;
    }

    .burger {
        width: 109px;
        left: -44px;
        bottom: -28px;
    }


    .wwo-txt-wrap {
        margin-bottom: 28px;
    }

    .after-line::after{
        display: none;
    }

    .bg-wrapper{
        margin-top: 50px;
    }

    /* About Us */
    .abt-inner{
        padding: 20px 15px;
    }

    .abt-txt {
        font-size: 17px;
    }

    /* Contact Us */
    .c-width {
        width: 89%;
    }

    .pad-radl {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .pad-radr {
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

}

@media (max-width:573px){
    .bg-wrapper{
        margin-top: 50px;
    }

    /*.bg-img {*/
    /*    height: 320px;*/
    /*}*/

    .bg-yellow {
        height: 363px;
    }

    .order-img-wrapper {
        position: relative;
        width: fit-content;
        margin-left: auto;
    }

    .order-txt {
        width: 224px;
        font-size: 19px;
        margin: auto;
        padding: 45px 0px;
    }

    .bg-light {
        padding: 15px 10px;
    }

    .wwo-txt-wrap {
        margin: auto;
        margin-bottom: 28px;
        width: 297px;
    }
}

@media (max-width:420px){
    .wwo-txt-wrap {
        width: unset;
    }

    .width {
        width: 100%;
        margin: auto;
    }

    .c-width {
        width: 89%;
    }

    .bg-wrapper{
        margin-top: 50px;
    }

    .bg-title {
        font-size: 19px;
        margin-top: 25px;
    }

    .goog {
        width: 138px;
    }

    .apple {
        width: 138px;
    }

    .bg-img {
        height: 320px;
    }

    .heroBan-img-wrapper {
        top: 136px;
    }

    .paper-bag {
        width: 63px;
        right: -21px;
        bottom: -4px;
    }

    .pasta {
        width: 145px;
    }

    .burger {
        width: 75px;
        left: -26px;
        bottom: -12px;
    }

    .p-bt {
        padding: 80px 15px;
    }



}

@media (max-width:320px){
    .bg-img {
        height: 315px;
    }
}
