.bank-details{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/g.jpg');
    color: #fff;
}
.bank-details b{
    font-size: 17px;
}
.bank-details .card-body{
    padding: 10px;
    color: #fff;
}
.card-no p{
    margin-top: 65px;
    font-size: 26px;
    letter-spacing: 4px;
    font-weight: bold;
}
.card-fi{
    margin-top: 65px;
}
.card-fi h5{
   color: white;
}
.card-imgs{
    width: 35px;
}
.carets{
    margin: 0;
    padding: 0;
    line-height: 0;
}
.carets i{
    font-size: 31px;
}
.carets:hover i{
    transform: scale(1.3);
    transition: 0.5s;
}
.table-hover tr:hover{
	background-color:#dee2e6 !important;
	cursor: pointer;
}
table tr td .bx-trash{
	color: red;
	font-size: 25px;
}
table tr td .bx-trash:hover{
	outline: red;
	color: black;
}
.tab-content #salon .table td{
	padding: 0;
}
.tab-content #service .table td{
	padding: 0;
}
.index .dashboard-users{
	max-width: 33% !important;
}
.data-light h6{
	font-weight: lighter;
}
.user-details h4{
	font-size: 24px;
}
.user-details h6{
	font-size: 16.5px;
	text-transform: capitalize;
}
.toggle-btn .switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 28px;
}

.toggle-btn .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-btn .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-btn .slider:before {
    position: absolute;
    content: "";
    height: 20.4px;
    width: 20.4px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.td-toggle .toggle-btn .switch {
    width: 50px;
    height: 20px;
}
.td-toggle .toggle-btn .slider:before {
    height: 15px;
    width: 15px;
    bottom: 3px;
}
.toggle-btn input:checked + .slider {
    background-color: green;
}

.toggle-btn input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.toggle-btn input:checked + .slider:before {
    -webkit-transform: translateX(41px);
    -ms-transform: translateX(41px);
    transform: translateX(41px);
}
.td-toggle .toggle-btn input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}


/* Rounded sliders */
.toggle-btn .slider.round {
    border-radius: 34px;
}

.toggle-btn .slider.round:before {
    border-radius: 50%;
}
